
.ds-right {
  width: 75%;
  float: right;
}

.ds-left {
  width: 23%;
  float: left;
}

.tripal-ds-button {
  height: 15px;
  vertical-align: text-top;
}

.hideTripalPane {
	display: none;
}
.showTripalPane {
	display: inherit;
}
/*
fieldset {
	border: none!important;
}

th {
	border-bottom: none;
}

.tripal-entity-unattached {
    vertical-align: top;
    border-top: 1px solid #CCCCCC;
    font-size: 14px;
}

.tripal-entity-unattached .field-label {
	font-weight: bold;
	font-size: 16px;
	padding: 10px 0;
}
.tripal-entity-unattached .field {
	padding: 10px 0 0 20px;
}

.tripal-entity-unattached tr.odd {
	border:	none;
	background: none;
	padding: 0;
}

.tripal-entity-unattached tbody {
	border: none;
}


fieldset.collapsed {
	height: 2em!important;
}
*/
