tr {
	border-color: #d2cfc6;
}
tbody tr:focus, tbody tr:hover,
  tbody tr:focus td.type-category, tbody tr:hover td.type-category {
		background: rgba(221, 232, 238, 1) !important;
}


tr.General td.type-category {
	background-color: #F4F4F6;
	background: -moz-linear-gradient(left,  rgba(244,244,246,1) 0%, rgba(244,244,246,1) 77%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(left,  rgba(244,244,246,1) 0%,rgba(244,244,246,1) 77%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to right,  rgba(244,244,246,1) 0%,rgba(244,244,246,1) 77%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f6', endColorstr='#ffffff',GradientType=1 );
}
tbody tr.General:focus, tbody tr.General:hover,
  tbody tr.General:focus td.type-category, tbody tr.General:hover td.type-category {
		background: rgba(225, 225, 234, 1) !important;
}
tr.General {
	border-bottom-color: #c4c4d4;
}

tr.Genomic td.type-category {
	background-color: #F2F5F8;
	background: -moz-linear-gradient(left, rgba(242,245,248,1) 0%, rgba(242,245,248,1) 77%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(left, rgba(242,245,248,1) 0%,rgba(242,245,248,1) 77%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to right, rgba(242,245,248,1) 0%,rgba(242,245,248,1) 77%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f8', endColorstr='#ffffff',GradientType=1 );
}
tbody tr.Genomic:focus, tbody tr.Genomic:hover,
  tbody tr.Genomic:focus td.type-category, tbody tr.Genomic:hover td.type-category {
		background: rgba(225, 230, 234, 1) !important;
}
tr.Genomic {
	border-bottom-color: #c4ccd4;
}

tr.Genetic td.type-category {
	background-color: #F4F3F7;
	background: -moz-linear-gradient(left,  rgba(244,243,247,1) 0%, rgba(244,243,247,1) 77%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(left,  rgba(244,243,247,1) 0%,rgba(244,243,247,1) 77%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to right,  rgba(244,243,247,1) 0%,rgba(244,243,247,1) 77%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f3f7', endColorstr='#ffffff',GradientType=1 );
}
tbody tr.Genetic:focus, tbody tr.Genetic:hover,
  tbody tr.Genomic:focus td.type-category, tbody tr.Genetic:hover td.type-category {
		background: rgba(227, 225, 234, 1) !important;
}
tr.Genetic {
	border-bottom-color: #c8c4d4;
}

tr.Germplasm td.type-category {
	background-color: #F5F7F3;
	background: -moz-linear-gradient(left,  rgba(245,247,243,1) 0%, rgba(245,247,243,1) 77%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(left,  rgba(245,247,243,1) 0%,rgba(245,247,243,1) 77%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to right,  rgba(245,247,243,1) 0%,rgba(245,247,243,1) 77%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f7f3', endColorstr='#ffffff',GradientType=1 );
}
tbody tr.Germplasm:focus, tbody tr.Germplasm:hover,
  tbody tr.Germplasm:focus td.type-category, tbody tr.Germplasm:hover td.type-category {
		background: rgba(230, 234, 225, 1) !important;
}
tr.Germplasm {
	border-bottom-color: #ccd4c4;
}

tr.Expression td.type-category {
	background-color: #F9F1F4;
	background: -moz-linear-gradient(left,  rgba(249,241,244,1) 0%, rgba(249,241,244,1) 78%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(left,  rgba(249,241,244,1) 0%,rgba(249,241,244,1) 78%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to right,  rgba(249,241,244,1) 0%,rgba(249,241,244,1) 78%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f1f4', endColorstr='#ffffff',GradientType=1 );
}
tbody tr.Expression:focus, tbody tr.Expression:hover,
  tbody tr.Expression:focus td.type-category, tbody tr.Expression:hover td.type-category {
		background: rgba(234, 225, 228, 1) !important;
}
tr.Expression {
	border-bottom-color: #d4c4ca;
}
