
 /******************************************************************************
 * Administrative CSS classes
 *****************************************************************************/

 /**
  * This class is used when providing hints or other instructions to the
  * site administrator
  */

div.messages.tripal-site-admin-only {
  background-image: url("../images/TripalLogo-sm.png");
  background-repeat: no-repeat;
  background-color: #cce3ff;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  border: 1px solid #7DA1D4;
  min-height: 65px;
  clear: both;
  padding: 0px;
}

.tripal-code {
  font-family: "Courier New", Courier, monospace;
  word-wrap: break-word;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}

.tripal-severity-string {
  font-weight: bold;
}

.tripal-severity-string-critical, .tripal-severity-string-error, 
.tripal-severity-string.critical, .tripal-severity-string.error {
  color: #FF0000;
}

.tripal-severity-string-warning,
.tripal-severity-string.warning {
  color: #FF8000;
}

.tripal-site-admin-message {
  padding: 15px 10px 10px 70px;
  font-style: italic;
}

.tripal-site-admin-only-table-row {
  background-color: #cce3ff;
  /* border: 1px solid #7DA1D4; */
  color: black;
}

/******************************************************************************
 * Misc CSS classes
 *****************************************************************************/
.tripal-dl {
  width: 100%;
  overflow: hidden;
  margin: 0px;
}
.tripal-dl dt {
  float: left;
}
.tripal-dl dd {
}


/******************************************************************************
 * Spinner for paginated elements
 *****************************************************************************/
 .tripal-field-ajax-spinner {
   display: none;
   float: left;
 }


 /******************************************************************************
  * Format for tripal dashboard chart
  *****************************************************************************/
 #tripal-entity-type-chart .bar text.value {
   fill: white;
 }

 #tripal-entity-type-chart .axis {
   shape-rendering: crispEdges;
 }

 #tripal-entity-type-chart .axis path {
   fill: none;
 }

 #tripal-entity-type-chart .x.axis line {
   stroke: #fff;
   stroke-opacity: .8;
 }

 #tripal-entity-type-chart .y.axis path {
   stroke: black;
 }
 
 #tripal-entity-type-chart .x.axis text { display: none; }
 
 .tripal-job-logs {
  height: 500px;
  overflow: scroll;
  font-framily: Courier New, monospace;
}

.item-list .action-links li {
	list-style-type: none;
} 
