tripal.tripal_content_terms.*:
  type: config_entity
  label: 'Tripal Content Terms'
  mapping:
    id:
      type: string
      label: 'ID'
      nullable: false
    label:
      type: label
      label: 'Label'
      nullable: false
    description:
      type: string
      label: 'Description'
    vocabularies:
      type: sequence
      label: 'Vocabularies'
      sequence:
        type: mapping
        mapping:
          name:
            type: string
            label: 'Vocabulary Name'
            nullable: false
          label:
            type: string
            label: 'Vocabulary Label'
            nullable: false
          url:
            type: string
            label: 'Vocabulary URL'
            nullable: false
          idSpaces:
            type: sequence
            label: 'IdSpaces used in this vocabulary'
            sequence:
              type: mapping
              mapping:
                name:
                  type: string
                  label: 'IdSpace Name'
                  nullable: false
                description:
                  type: string
                  label: 'IdSpace Description'
                  nullable: true
                urlPrefix:
                  type: string
                  label: 'IdSpace Term URL'
                  nullable: true
                isBorrowed:
                  type: boolean
                  label: 'Is Borrowed from Another Vocabulary'
                  nullable: true

          terms:
            type: sequence
            label: 'Terms'
            sequence:
              type: mapping
              mapping:
                id:
                  type: string
                  label: 'Term ID'
                  nullable: false
                name:
                  type: string
                  label: 'Term Name'
                  nullable: false
                description:
                  type: string
                  label: 'Term Definition'
                  nullable: true

field.storage.tripal_entity.*:
  type: field.storage.*.*
  label: 'Tripal Entity Field Storage'
  mapping:
    settings:
      type: field.storage_settings.*
      label: 'Tripal Field Storage Settings'
      mapping:
        storage_plugin_id:
          type: string
          label: 'Tripal Storage Plugin Machine Name'
        max_length:
          type: integer
          label: 'Storage Maximum length'

field.field.tripal_entity.*.*:
  type: field.field.*.*.*
  mapping:
    settings:
      type: field.settings
      mapping:
        termIdSpace:
          type: string
          label: 'Term ID Space'
        termAccession:
          type: string
          label: 'Term Accession'

# tripal.tripal_content_types.*:
#   type: config_entity
#   label: 'Tripal Content Types'
#   mapping:
#     id:
#       type: string
#       label: 'ID'
#       nullable: false
#     label:
#       type: label
#       label: 'Label'
#       nullable: false
#     description:
#       type: string
#       label: 'Description'
#     content_types:
#         type: sequence
#         label: 'Content Types'
#         sequence:
#           type: mapping
#           mapping:
#               label:
#                 type: string
#                 label: 'Name'
#                 nullable: false
#               termIdSpace:
#                 type: string
#                 label: "Term Id Space"
#                 nullable: false
#               termAccession:
#                 type: string
#                 label: "Term Accession"
#                 nullable: false
#               category:
#                 type: string
#                 label: "Category "
#                 nullable: false
#               fields:
#                 type: sequence
#                 label: 'Fields'
#                 sequence:
#                   type: mapping
#                   mapping:
#                       label:
#                         type: string
#                         label: 'Label'
#                         nullable: false
#                       type:
#                         type: string
#                         label: 'Type'
#                         nullable: false
#                       description:
#                         type: string
#                         label: 'Description'
#                         nullable: false
#                       cardinality:
#                         type: integer
#                         label: 'Cardinality'
#                         nullable: false
#                       required:
#                         type: boolean
#                         label: 'Required'
#                         nullable: false
#                       storage_settings:
#                         type: mapping
#                         label: 'Storage Settings'
#                         mapping:
#                           storage_plugin_id:
#                             type: string
#                             label: 'Storage Plugin ID'
#                             nullable: false
#                           storage_plugin_settings:
#                              type: mapping
#                              label: 'Storage Plugin Settings'
#                              mapping:
#                                property_settings:
#                                  type: sequence
#                                  label: 'Property Settings'
#                                  sequence:
#                                    type: mapping
#                                    mapping:
#                                      key:
#                                        type: string
#                                        label: 'Key'
#                                        nullable: false
#                       settings:
#                         type: mapping
#                         label: 'Settings'
#                         mapping:
#                           termIdSpace:
#                             type: string
#                             label: "Term Id Space"
#                             nullable: false
#                           termAccession:
#                             type: string
#                             label: "Term Accession"
#                             nullable: false
#                           termVocabulary:
#                             type: string
#                             label: "Term Vocabulary"
#                             nullable: true
#                       display:
#                         type: mapping
#                         label: 'Display'
#                         mapping:
#                           view:
#                             type: sequence
#                             label: 'View'
#                             sequence:
#                               type: mapping
#                               mapping:
#                                 name:
#                                   type: string
#                                   label: 'Display'
#                                   nullable: false
#                                 region:
#                                   type: string
#                                   label: 'Region'
#                                   nullable: false
#                                 label:
#                                   type: string
#                                   label: 'Label'
#                                   nullable: false
#                                 weight:
#                                   type: integer
#                                   label: 'Weight'
#                                   nullable: false
#                           form:
#                             type: sequence
#                             label: 'View'
#                             sequence:
#                               type: mapping
#                               mapping:
#                                 name:
#                                   type: string
#                                   label: 'Display'
#                                   nullable: false
#                                 region:
#                                   type: string
#                                   label: 'Region'
#                                   nullable: false
#                                 label:
#                                   type: string
#                                   label: 'Label'
#                                   nullable: false
#                                 weight:
#                                   type: integer
#                                   label: 'Weight'
#                                   nullable: false
