
#tripal_organism-image-box {
   float: left;
   margin-left: 10px;
   margin-bottom: 10px;
   margin-right: 10px;
   width: auto;
}
#tripal_organism-image-box img {
   max-height: 200px;
}

#tripal_organism-base-box {
   float: left;
}
#tripal_organism-description-box {
   clear: left;
   width: auto;
}

#tripal_organism-base-box img {
 float: left;
 margin-bottom: 5px;
 margin-right: 10px;
 margin-top: 5px;

}
#tripal_organism-table-base {
 width: auto;
 margin-bottom: 10px;
 min-width: 300px;
 margin-top: 0px;

}

