/**
 * @file
 * Basic styling for tripal content type layouts.
 */
 
.tripal-layout-table th {
	text-align: left;
	width: 20%;
}

.tripal-layout-table  {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.tripal-layout-table tr:nth-child(even) {
	background: #DDDDDD;
}
