{#
/**
 * @file
 * Default theme implementation to present a list of custom content entity types/bundles.
 *
 * Available variables:
 * - types: A collection of all the available custom entity types/bundles.
 *   Each type/bundle contains the following:
 *   - title: The human-readable label of this content entity of this type.
 *   - description: A description of this content entity types/bundle.
 *   - url: The URL to add content of this type.
 *
 * @see template_preprocess_tripal_entity_content_add_list()
 *
 * @ingroup themeable
 */
#}
{% apply spaceless %}
  {% for category in types  %}
  <h3>{{category.title}}</h3>
  <ul class="admin-list">
    {% for type in category.members  %}
      <li class="clearfix">
        <a href="{{type.url}}">
          <span class="label">{{ type.title }}</span>
        </a>
        <div class="description">{{ type.help }}</div>
      </li>
    {% endfor %}
  </ul>
  {% endfor %}
{% endapply %}
