
/**
 * @file
 * CSS related to Tripal Bulk Loader
 */

/**
 * Tripal Bulk Loading Job Node
 */
#expired-constants .fieldset-wrapper, #expired-constants fieldset {
  border-color: #ed5;
  background-color: #fffce5;
}

#expired-constants legend {
  border-color: #ed5;
  background-color: #DDDAC0;
  color: #840;
}

/**
 * Tripal Bulk Loader Edit Template Form.
 */
#tripal-bulk-loader-modify-template-base-form table {
  width: 100%;
}
#tripal-bulk-loader-modify-template-base-form tr.odd .form-item, tr.even .form-item {
  white-space: normal;
  word-wrap: break-word;
}
#tripal-bulk-loader-modify-template-base-form .fieldset-description {
  padding-top: 20px;
}
#tripal-bulk-loader-modify-template-base-form td.tbl-drag{
  width: 20px;
}
#tripal-bulk-loader-modify-template-base-form td.tbl-action-record-links {
  width: 150px;
}
#tripal-bulk-loader-modify-template-base-form td.tbl-action-field-links {
  width: 100px;
}
#tripal-bulk-loader-modify-template-base-form td.data-column {
  text-align: center;
  width: 50px;
}
#tripal-bulk-loader-modify-template-base-form td.field-type {
  text-align: center;
  width: 50px;
}
#tripal-bulk-loader-modify-template-base-form td.record {
  width: 100px;
  background-color: #F2F3ED;
  border-right: 1px solid #bebfb9;
}
#tripal-bulk-loader-modify-template-base-form td.record em {
  color: #bebfb9;
}
#tripal-bulk-loader-modify-template-base-form tr.record-first-row td {
  border-top: 1px solid #bebfb9;
}