@CHARSET "UTF-8";

.synonym-widget-item,
.primary-dbxref-widget-item,
.secondary-dbxref-widget-item,
.kvproperty-adder-widget-item {
   float: left;
   margin-right: 10px;
}

.primary-dbxref-widget-links,
.secondary-dbxref-widget-links {
   clear: both;
}

.residues-formatter {
   border: 1px solid #dddddd;
   color: #000000;
   height: 300px;
   max-width: 500px;
   overflow: scroll;
   white-space: normal;
   background-color: white;
}

.form-field-ui-field-overview-storage-logo {
  height: 10px;
}