@CHARSET "UTF-8";

.synonym-widget-item,
.primary-dbxref-widget-item,
.secondary-dbxref-widget-item,
.kvproperty-adder-widget-item,
.chado-linker--relationship-widget-item,
.chado-linker--relationship-instance-settings-option2-item,
.annotation-cvterm-widget {
   float: left;
   margin-right: 10px;
}

.chado-linker--relationship-instance-settings-option2 {
  float:left;
  clear:both;
  width:100%;
}

.primary-dbxref-widget-links,
.secondary-dbxref-widget-links {
   clear: both;
}

.residues-formatter {
   border: 1px solid #dddddd;
   color: #000000;
   height: 300px;
   max-width: 500px;
   overflow: scroll;
   white-space: normal;
   background-color: white;
}

.form-field-ui-field-overview-storage-logo {
  height: 10px;
}


#edit-feature-pub #autocomplete li {
  white-space: normal;
  margin: 0;
  border-bottom: 0.5px solid #666666;
}

#autocomplete {
  width: 600px !important;
}