/*
 Copyright 2009 Clemson University
*/

.tripal_kegg-info-box, .tripal_kegg_summary-info-box {
   margin-top: 10px;
   margin-left: 0px;
   margin-right: 0px;
   margin-bottom: 0px;
   padding-top: 0px;
   padding-left: 0px;
   padding-bottom: 0px;
   padding-right: 0px;
   border-collapse: collapse;
   z-index: 10;
}

.tripal_kegg_brite_terms {
   line-height: 170%;
   text-align: left;
}

#tripal_kegg_brite_hierarchy {
   border-collapse: separate;
}

#tripal_kegg_brite_links {
   background-image:url("../images/kegg.gif");
   background-repeat: no-repeat;
   padding-left:20px;
}

#tripal_kegg_feature_links {
   background-image:none;
   background-repeat: no-repeat;
   padding:0px 0px 0px 0px;
}

.tripal_kegg_results_table #tripal_kegg_brite_links {
   padding: 0px 0px 0px 22px;
}

#tripal_kegg_brite_results {
   height: 600px;
   overflow: auto;   
}
