
.tripal_interpro-info-box {
   margin-top: 10px;
   margin-left: 0px;
   margin-right: 0px;
   margin-bottom: 0px;
   padding-top: 0px;
   padding-left: 0px;
   padding-bottom: 0px;
   padding-right: 0px;
   border-collapse: collapse;
   z-index: 10;
}

.tripal_interpro_results_table {
   margin-left: auto;
   margin-right: auto;
}

.tripal_interpro_results_table tbody {
    border-top: none;
}

.tripal_interpro_results_table tbody tr td table{
   background: #FFFFFF;
}

.tripal_interpro_results_table tbody tr td table tr{
   background: #FFFFFF;
}

.tripal_interpro_results_table tbody tr td table tr td{
   background: #FFFFFF;
}
/* feature node sepcific template */
.tripal_feature_interpro-results-table {
   padding-top: 10px;
   padding-bottom: 10px;
}
.tripal_feature-interpro_results_subtitle{
   padding-top: 10px;
   padding-bottom: 10px;
   font-weight: bold;
}
