/*
 Copyright 2009 Clemson University
*/

.tripal_blast-info-box {
   margin-top: 10px;
   margin-left: 0px;
   margin-right: 0px;
   margin-bottom: 0px;
   padding-top: 0px;
   padding-left: 0px;
   padding-bottom: 0px;
   padding-right: 0px;
   border-collapse: collapse;
   z-index: 10;
}

.tripal_blast_results_table {
    width: 100%;  
}

.tripal_blast_results_table td{
   vertical-align: top;
}