#tripal_analysis_blast-table {
   width: 100%;
	overflow:auto;
}
#tripal_analysis_blast-table td {
  text-align: left;
}
#tripal_analysis_blast-table .tripal-table-even-row {
   border-top: 0px solid #CCCCCC;
   border-bottom: 0px solid #CCCCCC;
}
#tripal_analysis_blast-table .tripal-table-odd-row {
   border-top: 0px solid #CCCCCC;
   border-bottom: 0px solid #CCCCCC;
}
#tripal_analysis_blast-table .tripal_analysis_blast-result-first-row {
   border-top: 1px solid #CCCCCC;
}
#tripal_analysis_blast-table .tripal_analysis_blast-result-last-row {
   border-bottom: 1px solid #CCCCCC;
}

.tripal_analysis_blast-info-hsp-desc {
	background-color: #FFFFFF;
	border:0px solid #CCC5AE;
	display:none;
	overflow:auto;
   width: 100%;
}
.tripal_analysis_blast-info-hsp-desc pre{
	background-color: #FFFFFF;
   border:none;
}
