/*
 Copyright 2009 Clemson University
*/

.tripal_analysis_blast-box {

}

.tripal_analysis_blast-table {
   width:100%;
}
.tripal_analysis_blast-info-hsp-desc {
	background-color:#EEFEEE;
	border:1px solid #CCC5AE;
	display:none;
	overflow:auto;
}
.tripal_analysis_blast-info-hsp-desc pre{
	background-color:#EEFEEE;
   border:none;
}