.tripal-info-box {
   width: 100%;
   padding-bottom: 10px;
}
.tripal-table {
   width: 100%; 
}
.tripal-table-horz {
   border-top: 2px solid #999999;
   border-bottom: 2px solid #999999; 
}

/* settings for vertical tables (headers across left-side) */
.tripal-info-box table.tripal-table-vert .tripal-table-even-row th {
   background-color: #EEEEEE;
   font-weight: none;
   text-align: right;
}
.tripal-info-box table.tripal-table-vert .tripal-table-odd-row th {
   background-color: #FFFFFF;
   text-align: right;
}
.tripal-info-box table.tripal-table-vert .tripal-table-even-row {
   background-color: #EEEEEE;
   border-top: 1px solid #CCCCCC;
   border-bottom: 1px solid #CCCCCC;
}
.tripal-info-box table.tripal-table-vert .tripal-table-odd-row {
   background-color: #FFFFFF;
   border-top: 1px solid #CCCCCC;
   border-bottom: 1px solid #CCCCCC;
}
/* settings for horizontal tables (headers across top) */
.tripal-info-box table.tripal-table-horz th {
   background-color: #EEEEFF;
   font-weight: none;
   text-align: left;
}
.tripal-info-box table.tripal-table-horz .tripal-table-even-row {
   background-color: #FFFFFF;
   font-weight: none;
   text-align: left;
   border-top: 1px solid #CCCCCC;
   border-bottom: 1px solid #CCCCCC;
}
.tripal-info-box table.tripal-table-horz .tripal-table-odd-row {
   background-color: #EEEEEE;
   text-align: left;
   border-top: 1px solid #CCCCCC;
   border-bottom: 1px solid #CCCCCC;
}

.tripal-info-box-title {
  font-size: 1.5em;
  padding-bottom: 5px;

}
/* hide the title when inside of a block on a panel */
.pane-block .tripal-info-box-title {
   visibility: hidden;
   padding: 0;
   margin: 0;
   height: 0px;
}

/* Ajax loader */
#tripal_ajaxLoading {
   position: fixed;
   top: 40%;
   left: 40%;
   padding: 15px;
   border: 1px solid #000000;
   background-color: #EEEEEE;
   opacity: 0.75;
   -moz-opacity: 0.75;
   z-index: 10;
}

#tripal_ajaxLoading #loadingText {
   font-weight: bold;
   font-size: 1.5em;
   color: #000000;
}

/* Restrict the list of checkboxes in a 300px window */
.form-checkboxes {
   height: auto;
   max-height: 300px;
   overflow: auto;
}

/* no results message */
.tripal-no-results {
   font-style: italic;
   padding: 10px;
   background-color: #FFEEEE;
}
