
.tripal_go-info-box, .tripal_go_summary-info-box {
   margin-top: 10px;
   margin-left: 0px;
   margin-right: 0px;
   margin-bottom: 0px;
   padding-top: 0px;
   padding-left: 0px;
   padding-bottom: 0px;
   padding-right: 0px;
   border-collapse: collapse;
   z-index: 10;
}

.tripal_go_summary-info-box .tripal_cv_tree {
   border-collapse: separate;
}
