.tripal_search_unigene-views-exposed-form {
	margin: 10px;
	padding:10px;
	background: #FFFFFF;
	border: 1px solid #CCCCCC;
}

.tripal-search-unigene-exposed-widget {
	clear:both;
	padding: 5px;
}

.tripal-search-unigene-form-labels {
	float:left;
}

.tripal_search_unigene-views-operator {
	float:left;
	clear:none;
	margin-left: 5px;
}

.tripal_search_unigene-views-widget {
	float:left;
	clear:none;
	margin-left: 5px;
}

.tripal_search_unigene-table {
	margin-left: 10px;
}
 
 .tripal-search-unigene-exposed-widgets-fields legend{
   color:green;
 }
 
 #tripal_search_unigene-result-top:hover {
   text-decoration: none;
   color:#292929;
 }