/**
 * @file
 * CSS rules to theme tripal admin listings
 */

/**
 * Exposed Form Theme-ing
 */
.views-exposed-form {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 15px;
  position: relative;
}

.views-exposed-form .views-exposed-widget {
  float: none;
  display: block;
  width: 540px;
}

.views-exposed-widget .views-widget {
  display: inline-block;
}

.views-exposed-widget .views-widget .form-item {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.views-exposed-widget .views-widget input[type="text"] {
  width: 250px;
}

.views-exposed-widget .views-widget select {
  width: 255px;
}

.views-exposed-widget label {
  display: inline-block;
  width: 15em;
  font-weight: normal;
}

.views-exposed-widget label :after {
  content: ":";
}

.views-exposed-form .views-submit-button {
  position:absolute;
  left:550px;
  top: 0px;
}

/**
 * Table Theme-ing
 */
table.views-table {
  table-layout: fixed;
  width: 100%
}

th.views-field {
  max-width: 33%;
  word-wrap: break-word;
}

td.views-field.extra-short-column, th.views-field.extra-short-column {
  width: 25px;
  word-wrap: break-word;
}

td.views-field.short-column, th.views-field.short-column {
  width: 75px;
  word-wrap: break-word;
}

td.views-field.wide-column, th.views-field.wide-column {
  width: 45%;
  word-wrap: break-word;
}