name: PHPUnit Matrixed
on:
  workflow_dispatch:
  pull_request:
    types: [opened, synchronize]

jobs:
  run-tests:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        php-version:
          - "8.1"
          - "8.2"
          - "8.3"
        pgsql-version:
          - "13"
          - "16"
        drupal-version:
          - "10.2.x-dev"
          - "10.3.x-dev"
    steps:
      # Check out the repo
      - name: Checkout Repository
        uses: actions/checkout@v4
      # Here we fully build a docker using the current checked out code
      # to ensure we have not broken the install/build process.
      - name: Build Docker Image
        run: |
          docker build --tag=tripaldocker:localdocker \
            --build-arg drupalversion="${{ matrix.drupal-version }}" \
            --build-arg postgresqlversion="${{ matrix.pgsql-version }}" \
            --build-arg chadoschema='teacup' ./ \
            --file tripaldocker/Dockerfile-php${{ matrix.php-version }}
      # Just spin up docker the good ol' fashion way.
      - name: Spin up Local Docker
        run: |
          docker run --publish=80:80 --name=tripaldocker -tid \
            --volume=`pwd`:/var/www/drupal/web/modules/contrib/tripal \
            tripaldocker:localdocker
          docker exec tripaldocker service postgresql restart
      # Runs the PHPUnit tests.
      - name: Run PHPUnit Tests
        env:
          SIMPLETEST_BASE_URL: "http://localhost"
          SIMPLETEST_DB: "pgsql://drupaladmin:drupaldevelopmentonlylocal@localhost/sitedb"
          BROWSER_OUTPUT_DIRECTORY: "/var/www/drupal/web/sites/default/files/simpletest"
        run: |
          docker exec tripaldocker service postgresql restart
          docker exec -e SIMPLETEST_BASE_URL=$SIMPLETEST_BASE_URL \
            -e SIMPLETEST_DB=$SIMPLETEST_DB \
            -e BROWSER_OUTPUT_DIRECTORY=$BROWSER_OUTPUT_DIRECTORY \
            --workdir=/var/www/drupal/web/modules/contrib/tripal \
            tripaldocker phpunit
