name: Build and Publish Docker image
on:
  push:
    branches:
      - 4.x
      - tv4g0-issue1820-psql-docker-version-settable

jobs:
  push_to_registry:
    runs-on: ubuntu-latest
    continue-on-error: true
    strategy:
      fail-fast: false
      matrix:
        php-version:
          - "8.1"
          - "8.2"
          - "8.3"
        pgsql-version:
          - "13"
          - "16"
        drupal-version:
          - "10.0.x-dev"
          - "10.1.x-dev"
          - "10.2.x-dev"
        exclude:
          - php-version: "8.3"
            pgsql-version: "13"
            drupal-version: "10.0.x-dev"
          - php-version: "8.3"
            pgsql-version: "13"
            drupal-version: "10.1.x-dev"
          - php-version: "8.3"
            pgsql-version: "16"
            drupal-version: "10.0.x-dev"
          - php-version: "8.3"
            pgsql-version: "16"
            drupal-version: "10.1.x-dev"
    name: Docker Build (drupal${{ matrix.drupal-version }})
    steps:
      - uses: actions/checkout@v4
        name: Check out code
      ## Build images tagged drupal{VER}-php{VER}-pgsqlVER
      - uses: mr-smithers-excellent/docker-build-push@v6
        name: Build & push Full matrix of Docker images
        with:
          image: tripalproject/tripaldocker
          tags: drupal${{ matrix.drupal-version }}-php${{ matrix.php-version }}-pgsql${{ matrix.pgsql-version }}
          dockerfile: tripaldocker/Dockerfile-php${{ matrix.php-version }}
          registry: docker.io
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
          buildArgs: "drupalversion=${{ matrix.drupal-version }},postgresqlversion=${{ matrix.pgsql-version }}"
          labels: 'tripal.branch=4.x,drupal.version.label="${{ matrix.drupal-version }}",php.version.label="${{ matrix.php-version }}", postgresql.version.label="${{ matrix.pgsql-version }}"'
      ## Build images tagged drupal{VER}-php{VER}-pgsqlVER-noChado without chado installed!
      - uses: mr-smithers-excellent/docker-build-push@v6
        name: Build & push Full matrix of Docker images WITH NO CHADO
        with:
          image: tripalproject/tripaldocker
          tags: drupal${{ matrix.drupal-version }}-php${{ matrix.php-version }}-pgsql${{ matrix.pgsql-version }}-noChado
          dockerfile: tripaldocker/Dockerfile-php${{ matrix.php-version }}
          registry: docker.io
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
          buildArgs: "drupalversion=${{ matrix.drupal-version }},installchado=FALSE,postgresqlversion=${{ matrix.pgsql-version }}"
          labels: 'tripal.branch=4.x,drupal.version.label="${{ matrix.drupal-version }}",php.version.label="${{ matrix.php-version }}", postgresql.version.label="${{ matrix.pgsql-version }}"'
      ## Build Images tagged drupal{VER} focused on php 8.2 + postgresql 16
      - uses: mr-smithers-excellent/docker-build-push@v6
        name: Build & push Docker image Drupal focused Docker images.
        if: ${{ matrix.php-version == '8.2' && matrix.pgsql-version == '16' }}
        with:
          image: tripalproject/tripaldocker
          tags: drupal${{ matrix.drupal-version }}
          dockerfile: tripaldocker/Dockerfile-php${{ matrix.php-version }}
          registry: docker.io
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
          buildArgs: "drupalversion=${{ matrix.drupal-version }},postgresqlversion=${{ matrix.pgsql-version }}"
          labels: 'tripal.branch=4.x,drupal.version.label="${{ matrix.drupal-version }}",php.version.label="${{ matrix.php-version }}", postgresql.version.label="${{ matrix.pgsql-version }}"'
      ## Build the image tagged as latest which is the highest version combo that we feel is well supported.
      - uses: mr-smithers-excellent/docker-build-push@v6
        name: Build latest using 10.2.x-dev, PHP 8.3, PgSQL 16
        if: ${{ matrix.drupal-version == '10.2.x-dev' && matrix.php-version == '8.3' && matrix.pgsql-version == '16' }}
        with:
          image: tripalproject/tripaldocker
          tags: latest
          registry: docker.io
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
          buildArgs: "drupalversion=${{ matrix.drupal-version }},postgresqlversion=${{ matrix.pgsql-version }}"
          labels: 'tripal.branch=4.x,drupal.version.label="${{ matrix.drupal-version }}",php.version.label="${{ matrix.php-version }}", postgresql.version.label="${{ matrix.pgsql-version }}"'
